<%- include('../partials/header') %>
<h2>liste des promos</h2>
<ul>
  <% for(const promo of promos) { %>
  <li>
          <a href="/promos/<%= promo.id %>">
        <%= promo.name %></a></li>

  <%} %>
</ul>
<%- include('../partials/footer') %>
