<%- include('./partials/header') %>
<h2>Welcome to the Trombin'o' clock</h2>
<a href="/promos">Voir la liste de promos</a>
<a href="/admin/addStudent">ajouter un étudiant</a>
<%- include('./partials/footer') %>
